@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body main {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #19a2ae;
  width: 100%;
  height: 100%;
}
body main div.card__profile {
  margin: 0 auto;
  width: 25rem;
  height: 25rem;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 435px) {
  body main div.card__profile {
    width: 20rem;
    height: 25rem;
  }
}
@media (max-width: 300px) {
  body main div.card__profile {
    width: 15rem;
    height: 23rem;
  }
}
body main div.card__profile div.card_profile-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10%;
}
body main div.card__profile div.card_profile-status img.profile_img {
  width: 100px;
  border-radius: 100%;
  border: 8px solid white;
}
body main div.card__profile div.card_profile-status p.profile_name {
  font-weight: 700;
}
body main div.card__profile div.card_profile-status p.profile_name span {
  color: #969696;
  font-weight: 300;
}
body main div.card__profile div.card_profile-status p.city {
  color: #969696;
  margin: 0.7rem 0;
}
body main div.card__profile hr {
  width: 100%;
  height: 0.25px;
  background-color: #969696;
}
body main div.card__profile div.card__social-status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
  position: relative;
  bottom: 10%;
}
body main div.card__profile div.card__social-status div {
  color: #2d3248;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 0.7rem;
  letter-spacing: 1px;
}
body main div.card__profile div.card__social-status div p.social_title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.4rem 0;
  letter-spacing: 1px;
}